:root {
  --lightgray: #f7f9fa;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Source Code Pro", monospace;
  background-color: var(--lightgray);
}

pre {
  font-family: "Source Code Pro", monospace;
  background-color: var(--lightgray);
  white-space: pre-line;
}
